/* default css styles*/
:root {
  /* color pallete 1 */
  /* --background-color: #cdb4db;
  --font-color: #000000;
  --header-color: #a2d2ff;
  --header-bg-color: #ffc8dd;
  --sub-head-bar-color: #bde0fe; 
  --button-font-color: #ffffff;
  --button-bg-color: #ffafcc;
  --button-bghover-color: #ffc8dd;
  --button-shadow: #555555; */

  /* color pallete 2 
  --black: #000000ff;
  --white: #ffffffff;
  --cerulean: #007ea7ff;
  --thulian-pink: #e56399ff;
  --eminence: #772d8bff;*/
  --background-color: #843899;
  --font-color: #ffffff;
  --header-color: #ffffff;
  --header-bg-color: #843899;
  --sub-head-bar-color: #007ea7;
  --button-font-color: #ffffff;
  --button-bg-color: #fd6ca8;
  --button-bghover-color: #ff62a3;
  --button-shadow: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BROAD STYLES */
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Oswald", sans-serif;
}

h1 {
  color: var(--header-color);
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
}

header {
  display: flex;
}

header h1 {
  position: relative;
  background-color: var(--header-bg-color);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75);
  top: -3px;
}

header a {
  text-decoration: none;
}

header h1:hover {
  top: -2px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.75);
}

/* END BROAD STYLES */

/* BUTTONS */
.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 5px 25px;
  color: var(--button-font-color);
  background: var(--button-bg-color);
  font-size: 1.8rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 2px 3px 5px var(--button-shadow);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.btn:hover {
  box-shadow: 1px 2px 5px var(--button-shadow);
  background: var(--button-bghover-color);
  top: -2px;
}
.btn:active {
  box-shadow: 0.5px 0.5px var(--button-shadow);
  top: 0;
}

.quiz-btn {
  font-size: 1.4rem;
  padding: 5px 20px;
  margin: 3px;
  border-radius: 10px;
  min-width: 20ch;
  text-align: left;
  background: var(--button-bg-color);
  color: var(--button-font-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.score-btn {
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 3px;
  text-align: left;
  background: var(--button-bg-color);
  color: var(--button-font-color);
  box-shadow: 1px 2px var(--button-shadow);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
/* END BUTTONS */
.score-time {
  display: flex;
  padding: 20px 50px 20px 20px;
  background-color: var(--sub-head-bar-color);
  font-size: 1.4rem;
}
#countdown {
  margin: auto;
}

/* HIGH SCORE AND TIME BAR */

/*  */

/* MAIN CONTENT */

.quiz-section {
  padding: 20px 10px 0px 10px;
  text-align: center;
}

.quiz-section > * {
  margin: 20px auto;
}

.quiz-section p {
  word-wrap: wrap;
  max-width: 50%;
}

.question {
  max-width: 600px;
  text-align: left;
}

.btn-list {
  max-width: 600px;
  padding: 0px 5px 0px 10px;
}

#highScoreFormSection,
#highScorePageBtns,
#answer-list {
  text-align: center;
  margin: 0px auto;
}

li {
  list-style: none;
  text-align: left;
}

#highScoreFormEl {
  outline: none;
  border: none;
  padding: 12px;
  width: 9rem;
  font-size: 1.2rem;
  border: 2px solid var(--grey);
  border-radius: 12px;
}

#submit-btn {
  margin: 0px 10px;
  font-size: 1.4rem;
}

.feedbackResponse {
  max-width: 600px;
  text-align: left;
  margin: 10px auto;
  padding: 10px 0px;
  border-top-style: solid;
  border-color: var(--font-color);
  font-size: 1.4rem;
}

#scoreTable {
  margin: auto;
  background-color: var(--sub-head-bar-color);
  border-color: var(--sub-head-bar-color);
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-spacing: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#scoreTable th {
  padding: 5px 20px 0px 20px;
  margin: 0px;
  font-size: larger;
  border-color: black;
  border-bottom-style: solid;
  border-width: 3px;
}

#scoreTable td {
  padding: 10px 20px 0px 20px;
  margin: 0px;
  border-color: black;
  border-bottom-style: solid;
  border-width: 3px;
}
/* 
#scoreTable tr:nth-child(even) {
  background-color: var(--sub-head-bar-color);
  background-color: rgb(73, 73, 73);
} */

#goBack-btn,
#clearScore-btn {
  margin: 10px 10px;
  font-size: 1.4rem;
}

/* .hide {
  border-style: none;
} */

@media (max-width: 690px) {
  #highScoreFormEl {
    font-size: 0.8rem;
    width: 6rem;
  }

  #submit-btn {
    font-size: 1rem;
  }
}
